extends base

block content
	if form.errors
		p Tu nombre de Usuario y/o Contraseña son incorrectos
	- url django.contrib.auth.views.login as formaction
	form(method='post', action=formaction)
		- csrf_token
		p
			input(type='text', placeholder='Usuario', name='username', maxlength='30')#id_username
		p
			input(type='password', placeholder='Contraseña', name='password')#id_password
		p
			span
				input(type='checkbox')
				| Recordarme
			input(type='submit', value='Entrar')